.App {
  text-align: center;
}
.sort-selector {
  margin-left: 1em;
}

.article-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
  grid-gap: 1em;
  padding: 1em;
}

.article-cards,
.single-article-paper {
  font-family: Quicksand;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.comment-list {
  font-family: Quicksand;
}

.comment-details {
  display: flex;
  justify-items: space-around;
}

.comment-form {
  margin-top: 1em;
}

.card-info {
  display: flex;
  justify-content: space-evenly;
}

.topic-links {
  padding-right: 3em;
}

.sort-order-links {
  padding-top: 1em;
}

li {
  flex: auto;
  list-style-type: none;
  justify-content: space-between;
}

@media (max-width: 912px) {
  .article-list {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(20em, 30em);
    grid-gap: 1em;
    padding: 1em;
  }

  .article-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.8em;
  }
}
