.App {
  text-align: center;
}

.article-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
  grid-gap: 1em;
  padding: 1em;
}

.article-cards,
.single-article-card {
  font-family: Quicksand;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.card-info {
  display: flex;
  list-style-type: none;
}

.topic-links {
  padding-right: 3em;
}

li {
  flex: auto;
}

@media (max-width: 900px) {
  .article-list {
    display: grid;
    grid-template-columns: repeat(auto-fit);
    grid-gap: 1em;
    padding: 1em;
  }

  .article-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.8em;
  }
}
